{% extends "layout.html" %}

{% block title %}
    Goals
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Enter Goal</h1>
        <form action="/goals" method="POST">
            <div id="goal-inputs">
                <div class="form-group mb-3">
                    <label for="goal">Goal</label>
                    <input type="text" name="goal[]" class="form-control" placeholder="Enter a Goal" id="goal" required>
                </div>
                <div class="form-group mb-3">
                    <label for="time">Time Limit</label>
                    <input type="date" name="time[]" class="form-control" placeholder="Time Limit" id="time" required>
                </div>
            </div>
            <button type="button" id="add-goal" class="btn btn-secondary mb-3">Add Goal</button>
            <button class="btn btn-success mb-3" type="submit">Submit Goals</button>
        </form>
        <h1 class="text-center mb-4">Current Goals</h1>
        <ul id="goals" class="list-group">
            {% for goal in goals %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ goal.goal }}</span>
                    <span class="mx-auto">Due: {{ goal.time }}</span>
                    <span>
                        {% set days_remaining = goal.time | days_until %}
                        {% if days_remaining < 0 %}
                            <span class="text-danger">
                                Time Limit Expired {{ days_remaining | abs }} days ago
                            </span>
                        {% else %}
                            {{ days_remaining }} days remaining
                        {% endif %}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        document.getElementById('add-goal').addEventListener('click', function() {
            const goalInputs = document.getElementById('goal-inputs');
            const newInputGroup = document.createElement('div');
            newInputGroup.className = 'form-group mb-3';
            newInputGroup.innerHTML = `
                <label for="goal">Goal</label>
                <input type="text" name="goal[]" class="form-control" placeholder="Enter a goal" required>
                <label for="time">Time Limit</label>
                <input type="date" name="time[]" class="form-control" placeholder="Time limit" required>
            `;
            goalInputs.appendChild(newInputGroup);
        });
    </script>
{% endblock %}