{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<h1>Academics</h1>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th style="width: 75%;">Marks</th>
      <th style="width: 25%;">Attendance Alert</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="width: 75%;">
        <div class="d-flex justify-content-between flex-wrap">
          <table class="table table-bordered mb-3" style="width: 15%;">
            <thead class="thead-light">
              <tr>
                <th>Subjects</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Quiz-1</td></tr>
              <tr><td>Quiz-2</td></tr>
              <tr><td>Quiz-3</td></tr>
              <tr><td>Quiz-4</td></tr>
              <tr><td>Midterm</td></tr>
              <tr><td>Attendance Missed</td></tr>
              <tr><td>Mark Required</td></tr>
            </tbody>
          </table>
          {% for subject in subjects %}
          <table class="table table-bordered mb-3" style="width: 25%;">
            <thead class="thead-light">
              <tr>
                <th>{{ subject.name }}</th>
              </tr>
            </thead>
            <tbody>
              {% set values = subject['info'].values() | list %}
              {% set quiz = values[:4] | sort(reverse=True) %}
              {% set marks = quiz[:3] | sum + values[4] %}
              {% for value in values[:-1] %}
              <tr>
                <td>{{ value }}</td>
              </tr>
              {% endfor %}
              <tr>
                <td>{{ values[-1] * 80 - marks }}</td>
              </tr>
            </tbody>
          </table>
          {% if loop.index % 3 == 0 and loop.index < subjects | length %}
          </div>
          <div class="d-flex justify-content-between flex-wrap">
            <table class="table table-bordered mb-3" style="width: 15%;">
              <thead class="thead-light">
                <tr>
                  <th>Subjects</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>Quiz-1</td></tr>
                <tr><td>Quiz-2</td></tr>
                <tr><td>Quiz-3</td></tr>
                <tr><td>Quiz-4</td></tr>
                <tr><td>Midterm</td></tr>
                <tr><td>Attendance Missed</td></tr>
                <tr><td>Mark Required</td></tr>
              </tbody>
            </table>
          {% endif %}
          {% endfor %}
        </div>
      </td>
      <td style="width: 25%;">
        <!-- Add content for Attendance Alert here -->
        {% for subject in subjects %}
          {% if subject['info']['missing_attendance'] >= 2 %}
          <div class="alert alert-danger" role="alert">
            {{ subject['info']['missing_attendance'] }} classes already missed in {{ subject.name }}
          </div>
          {% endif %}
        {% endfor %}
        
        <!-- Todo section -->
        <h3 class="border p-2 my-3 text-center">TO-DO</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Task</th>
              <th>Due Date</th>
              <th>Days Remaining</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
            <tr>
              <td>{{ task['todo'] }}</td>
              <td>{{ task['time_limit'] }}</td>
              {% set days_remaining = task['time_limit']|days_until %}
              {% if days_remaining < 0 %}
              <td class="text-danger">Time Limit Expired {{ days_remaining|abs }} days ago</td>
              {% else %}
              <td>{{ days_remaining }} days remaining</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <!-- Current Goals section -->
        <h3 class="border p-2 my-3 text-center">Current Goals</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Goal</th>
              <th>Due Date</th>
              <th>Days Remaining</th>
            </tr>
          </thead>
          <tbody>
            {% for goal in goals %}
            <tr>
              <td>{{ goal.goal }}</td>
              <td>{{ goal.time }}</td>
              {% set days_remaining = goal.time | days_until %}
              {% if days_remaining < 0 %}
              <td class="text-danger">Time Limit Expired {{ days_remaining | abs }} days ago</td>
              {% else %}
              <td>{{ days_remaining }} days remaining</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}